@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
body {
	font-family: Inter, Verdana, sans-serif;
  background-color: #ccc;
}

@layer components {
  .md-content {
    @apply max-w-xl mx-auto xl:my-12;
  }
  .md-content p, .md-content ul {
    @apply py-2 xl:py-4;
  }
  .md-content h2 {
    @apply font-bold text-xl py-4;
  }
  .md-content h3 {
    @apply font-bold py-4;
  }
  .md-content ul {
    @apply list-disc list-inside;
  }
}