---
import Baseof from "../layouts/Baseof.astro";
import HomeAgent from "../components/Home_agent.astro";
import HomeBenefit from "../components/Home_benefit.astro";
import Reasons from "../components/Home_reasons.astro";
---

<Baseof PageTitle = "liên hệ với việt hàn" PageDescription = "Việt Hàn luôn biết ơn và trân trọng từng góp ý phản hồi của khách hàng">
    <section class="flex flex-col-reverse md:flex-row bg-white items-center md:items-start mb-4">
        <div class="md:basis-1/2 text-center md:text-left text-sm lg:text-base p-4">
            <h3 class="font-bold">Công ty TNHH MTV Đầu tư Tùng Lâm Hòa Bình</h3>
            <p>Khu tân Sơn, Hòa Sơn, Lương Sơn, Hòa Bình</p>
            <p>Email: <a class="text-red-500" href="mailto:name@email.com">xophoiviethan@gmail.com</a></p>
            <p>Điện thoại : 0865 061 388 / 0988 837 911</p>
        </div>

        <div class="w-full md:basis-1/2 mb-4 md:mb-0 bg-gray-100 p-4">
            <form name="contact" class="grid grid-cols-1 gap-4">
                <input class="bg-yellow-300" type="text" name="name" placeholder="Tên bạn" />
                <input class="bg-yellow-300" type="email" name="email" placeholder="Email"/>
                <textarea class="bg-yellow-300 h-32" name="comment" id="comment" placeholder="Nội dung gửi"></textarea>
                <button class="bg-blue-700 text-white uppercase py-2 px-8 rounded-full w-fit mx-auto" type="submit">gửi</button>
              </form>
        </div>
    </section>

    <section class="striped"></section>
    <style>
        .striped {
            height: 5rem;
            background: repeating-linear-gradient(
            -55deg,
            #dc2626,
            #dc2626 20px,
            #1e40af 20px,
            #1e40af 40px
            );
        }
    </style>

    <Reasons />

    <HomeAgent />
    <HomeBenefit />
</Baseof>