---
import Baseof from "../layouts/Baseof.astro";
import Vs100 from "../components/Vs100.astro";
import data from "../data/intro.json";
import { Picture } from '@astrojs/image/components';
// import { Image } from "@astrojs/image/components";
---

<Baseof PageTitle = "giới thiệu việt hàn">
  <section class="p-8 md:p-12 bg-white">
    <div class="max-w-screen-md mx-auto text-center">
      
      <p class="my-8 text:lg md:text-xl">{data.heading}</p>
      <Vs100 />
      <div class="my-8">
      <Picture
        src={data.bigImage}
        widths={[400,600,900,1200]}
        aspectRatio={3 / 2}
        alt="viethan production"
        sizes="(min-width: 1200px) 100vw, 1200px"
        format="webp"
      />
        </div>
      <h2 class="font-bold text-2xl">
        6 lý do lựa chọn sản phẩm của chúng tôi
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4 my-8">
        {
          data.reasons.map((item) => (
            <div class="bg-blue-600 text-white text-base border-2 border-blue-700 p-4">
              {item}
            </div>
          ))
        }
      </div>
      <div class="mt-4 grid grid-cols-2 gap-2 sm:gap-4">
          {data.smallImages.map((item) => (
              <div class="w-full aspect-square border-2 border-blue-700">
                  <Picture src={item.image} widths={[150,300,500]} aspectRatio="1:1" sizes="(min-width: 1200px) 100vw, 500px" alt="hình ảnh nhà máy việt hàn" format="webp" />
              </div>
          ))}
      </div>
    </div>
  </section>
</Baseof>
