---
import Baseof from "../layouts/Baseof.astro";
import Vs100 from '../components/Vs100.astro';
---

<Baseof>
<section>
    
    <div class="flex flex-row mb-4 h-40">
        <div class="w-full h-full basis-1/2">image</div>
        <div class="basis-1/2 flex flex-col items-center justify-center bg-green-300">
            Noi dung tuyen dung
        </div>
    </div>

    <div class="flex flex-row-reverse mb-4 h-40">
        <div class="w-full h-full basis-1/2">image</div>
        <div class="basis-1/2 flex flex-col items-center justify-center bg-pink-300">
            Noi dung tuyen dung
        </div>
    </div>

</section>

<Vs100 />

<section class="text-center">
    <h2 class="font-bold text-xl my-4">Hướng dẫn nộp hồ sơ và các lưu ý khi phỏng vấn</h2>
    <div class="bg-white rounded-lg p-12">
        <div class="max-w-xl mx-auto text-left">Nội dung hướng dẫn</div>
    </div>
</section>

</Baseof>