---
import Baseof from '../layouts/Baseof.astro';
import Vs100 from '../components/Vs100.astro';
---

<Baseof>
    <section class="bg-white py-12 mb-4">
        <div class="max-w-lg mx-auto px-4 md:px-0">
            <h2 class="text-xl md:text-3xl font-bold">Những câu hỏi thường gặp</h2>
            <ul class="py-8 md:py-12">
                <li>Các dòng sản phẩm chính của công ty?</li>
                <li>Đặc điểm, kích thước phổ biến của các dòng sản phẩm?</li>
                <li>Xốp hơi là gì?</li>
                <li>Xốp PE foam là gì?</li>
                <li>Khả năng chống chịu va đập của sản phẩm</li>
                <li>Tấm cách nhiệt là gì? Dùng ở đâu?</li>
                <li>Mua sản phẩm này ở đâu?</li>
                <li>v...v...</li>
            </ul>
        </div>
    </section>

    <section class="bg-yellow-100 py-12 mb-4">
        <div class="max-w-lg mx-auto px-4 md:px-0">
            <h2 class="text-xl md:text-3xl font-bold">Hướng dẫn, kỹ thuật thi công</h2>
            <ul class="py-8 md:py-12">
                <li>Lắp đặt tấm cách nhiệt mái tôn</li>
                <li>Dùng xốp PE tráng bạc chống nóng cho ô tô</li>
                <li>Hướng dẫn tự làm tấm che nắng di động</li>
                <li>v...v...</li>
            </ul>
        </div>
    </section>

    <section class="bg-orange-400 py-12 mb-4 rounded-xl">
        <div class="text-center px-8">
            <h2 class="md:text-lg">Liên hệ bộ phận hỗ trợ kỹ thuật</h2>
            <p class="md:text-xl lg:text-2xl"><span class="font-bold">viethan_hotrokythuat@gmail.com</span> <br class="sm:hidden">hoặc điện thoại<br class="sm:hidden"> <span class="font-bold">0988 837 911</span></p>
            <p class="md:text-lg">nếu quý vị có bất kỳ thắc mắc nào về sản phẩm</p>
        </div>
    </section>

    <Vs100 />
<style>
    ul li {
        border-bottom: 1px solid #ccc;
        padding-top: 0.5rem;
    }
</style>
</Baseof>