---
import BigSingleImage from "./Big_single_image.astro";
import TemPefoamB from "./Tem_pefoam_b.astro";

const ImgList = [
  {
    image:
      "https://res.cloudinary.com/khongdangky/image/upload/v1662385723/viethan/tb2_ye7uaq.jpg",
    alt: "image",
  },
  {
    image:
      "https://res.cloudinary.com/khongdangky/image/upload/v1662183741/viethan/10_u2vyxr.jpg",
    alt: "image",
  },
  {
    image:
      "https://res.cloudinary.com/khongdangky/image/upload/v1662183742/viethan/11_ulzmc8.jpg",
    alt: "image",
  },
  {
    image:
      "https://res.cloudinary.com/khongdangky/image/upload/v1662385724/viethan/tb4_gfhfuy.jpg",
    alt: "image",
  },
];
---


<section class="sp3 w-full aspect-auto lg:aspect-[2/1] grid grid-cols-1 sm:grid-cols-5 px-4 py-8 sm:p-0">
    <div class="w-full h-full sm:col-span-2 flex flex-col items-center justify-center">
      <div
        class="border-2 border-black sm:border-white rounded-full text-xs lg:text-sm font-bold uppercase sm:text-white px-2 py-1 mb-4"
      >
        sản phẩm tiêu biểu
      </div>
      <TemPefoamB />
      <div class="sm:text-white text-lg md:text-2xl lg:text-3xl font-bold sm:font-normal text-center uppercase lg:leading-snug">
        xốp PE Foam<br />chống xước, cách nhiệt
      </div>
    </div>
  
    <div class="p-0 pt-4 sm:p-4 sm:pl-0 lg:p-12 lg:pl-0 sm:col-span-3 grid grid-cols-2 gap-2 lg:gap-4">
      {
        ImgList.map((item) => (
          <BigSingleImage ImgUrl={item.image} ImgAlt={item.alt} />
        ))
      }
    </div>
  </section>
  
  <style>
    section.sp3 {
      background: rgb(0, 108, 224);
      background: linear-gradient(
        115deg,
        rgba(59,130,246, 1) 0%,
        rgba(96,165,250, 1) 55%,
        rgba(219,234,254, 1) 55%,
        rgba(219,234,254, 1) 100%
      );
    }
  </style>




