---
import BigSingleImage from "./Big_single_image.astro";
import TemPefoam from "./Tem_pefoam.astro";

const ImgList = [
  {
    image:
      "https://res.cloudinary.com/khongdangky/image/upload/v1662183740/viethan/05_pp9bjo.jpg",
    alt: "image",
  },
  {
    image:
      "https://res.cloudinary.com/khongdangky/image/upload/v1662183740/viethan/06_daymgp.jpg",
    alt: "image",
  },
  {
    image:
      "https://res.cloudinary.com/khongdangky/image/upload/v1662385555/viethan/08_ooqfpc.jpg",
    alt: "image",
  },
  {
    image:
      "https://res.cloudinary.com/khongdangky/image/upload/v1662290125/viethan/07_fxrmg4.jpg",
    alt: "image",
  },
];

---

<section
  class="sp2 w-full aspect-auto lg:aspect-[2/1] grid grid-cols-1 sm:grid-cols-5 px-4 py-8 sm:p-0"
>
  <div
    class="p-0 pt-4 sm:p-4 sm:pr-0 lg:p-12 lg:pr-0 sm:col-span-3 grid grid-cols-2 gap-2 lg:gap-4"
  >
    {
      ImgList.map((item) => (
        <BigSingleImage ImgUrl={item.image} ImgAlt={item.alt} />
      ))
    }
  </div>

  <div class="w-full h-full sm:col-span-2 flex flex-col items-center justify-center">
    <div
      class="border-2 border-black sm:border-white rounded-full text-xs lg:text-sm font-bold uppercase sm:text-white px-2 py-1 mb-4 mt-4 sm:mt-0"
    >
      sản phẩm tiêu biểu
    </div>
    <TemPefoam />
    <div
      class="sm:text-white text-lg md:text-2xl lg:text-3xl font-bold sm:font-normal text-center uppercase lg:leading-snug"
    >
      foam cách nhiệt<br />chống ồn, chống ẩm
    </div>
  </div>
</section>

<style>
/*   section.sp2 {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      65deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 45%,
      rgba(201, 73, 134, 1) 45%,
      rgba(201, 73, 134, 1) 100%
    );
  } */
  section.sp2 {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      65deg,
      rgba(219,234,254, 1) 0%,
      rgba(219,234,254, 1) 45%,
      rgba(96,165,250, 1) 45%,
      rgba(59,130,246, 1) 100%
    );
  }
</style>
