---
import BigSingleImage from "./Big_single_image.astro";
import TemCachnhiet from "./Tem_cachnhiet.astro";

const ImgList = [
  {
    image:
      "https://res.cloudinary.com/khongdangky/image/upload/v1662183742/viethan/13_y335lm.jpg",
    alt: "image",
  },
  {
    image:
      "https://res.cloudinary.com/khongdangky/image/upload/v1662183742/viethan/14_mn3cie.jpg",
    alt: "image",
  },
  {
    image:
      "https://res.cloudinary.com/khongdangky/image/upload/v1662183742/viethan/15_twf38w.jpg",
    alt: "image",
  },
  {
    image:
      "https://res.cloudinary.com/khongdangky/image/upload/v1662183742/viethan/16_bo2hau.jpg",
    alt: "image",
  },
];
---

<section
  class="sp4 w-full aspect-auto lg:aspect-[2/1] grid grid-cols-1 sm:grid-cols-5 mb-4 px-4 py-8 sm:p-0"
>
  <div
    class="p-0 pt-4 sm:p-4 sm:pr-0 lg:p-12 lg:pr-0 sm:col-span-3 grid grid-cols-2 gap-2 lg:gap-4"
  >
    {
      ImgList.map((item) => (
        <BigSingleImage ImgUrl={item.image} ImgAlt={item.alt} />
      ))
    }
  </div>

  <div class="w-full h-full sm:col-span-2 flex flex-col items-center justify-center">
    <div
      class="border-2 border-black sm:border-white rounded-full text-xs lg:text-sm font-bold uppercase sm:text-white px-2 py-1 mb-4 mt-4 sm:mt-0"
    >
      sản phẩm tiêu biểu
    </div>
    <TemCachnhiet />
    <div
      class="sm:text-white text-lg md:text-2xl lg:text-3xl font-bold sm:font-normal text-center uppercase lg:leading-snug"
    >
    tấm cách nhiệt<br />chống nóng, chống ồn
    </div>
  </div>
</section>

<style>
  section.sp4 {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      65deg,
      rgba(219,234,254, 1) 0%,
      rgba(219,234,254, 1) 45%,
      rgba(96,165,250, 1) 45%,
      rgba(59,130,246, 1) 100%
    );
  }
</style>
