---
import logo from '/logoviethan.svg'
---

<div class="w-3/4 mx-auto sm:mx-0 mb-4 flex justify-center sm:justify-start items-center">
    <img src={logo} width={150} height={100} alt="viet han logo" />
</div>