---
// import { Image } from '@astrojs/image/components';
const imageUrl = 'https://res.cloudinary.com/khongdangky/image/upload/v1662295741/viethan/khoxop_nqwras.jpg';

---
<section class="sp5 w-full aspect-auto md:aspect-[3/1] grid grid-col-1 sm:grid-cols-2 leading-none">

    <div class="p-4 lg:p-12 sm:pr-0 lg:pr-0 w-full aspect-square md:aspect-auto">
        <img class="w-full h-full object-cover  border-2 border-blue-500" src={imageUrl} width="900" height="600" alt="hinh anh dai ly" />
    </div>
    
    <div class="w-full h-full flex flex-col items-center justify-center">
        <div class="uppercase mb-4 px-12 lg:py-4 2xl:py-12 lg:text-xl text-center leading-relaxed">
                công ty việt hàn thường xuyên có chính sách <span class="text-red-700 font-bold">ưu đãi tuyệt vời</span> cho đại lý
        </div>
        <div class="text-red-600 text-center uppercase">liên hệ ngay</div>
        <div class="text-red-600 text-3xl lg:text-5xl text-center uppercase font-bold lg:my-4">0865 061 388</div>
        <div class="text-red-600 text-center uppercase pb-8 sm:pb-0">để biết thêm chi tiết</div>
    </div>
</section>

<style>
    section.sp5 {
        background: rgb(147,197,253);
        background: linear-gradient(115deg, rgba(147,197,253,1) 0%, rgba(147,197,253,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
    }
</style>