---
const imageUrl = 'https://images.hdqwalls.com/download/cube-geometry-digital-art-4k-2x-2048x1152.jpg';
---

<section class="pp bg-slate-300 w-full aspect-[2.5/1] mb-4">
    <p>hinh anh lanh dao hoac cong nhan dang lam viec</p>
</section>

<style>
    .pp {
        background-image: url("https://images.hdqwalls.com/download/cube-geometry-digital-art-4k-2x-2048x1152.jpg");
    }
</style>