---
import SlideshowClient from "./Slideshow_client.jsx";
---

<section class="mb-4 md:bg-blue-500 pb-8">
    <h2 class="font-bold uppercase text-xl text-center py-8">khách hàng nói về chúng tôi</h2>
    <SlideshowClient client:visible />
</section>