---
---

<section class="bg-blue-600 lg:p-12 px-4 py-8">
  <h2
    class="uppercase font-bold text-center text-white text-2xl pt-4 mb-4 tracking-tight"
  >
    các đặc tính và lợi ích của sản phẩm
  </h2>
  <div class="max-w-screen-lg mx-auto mb-4 flex flex-col sm:flex-row shadow-md">
    <div class="basis-1/2 bg-blue-300 p-2 md:p-8">
      <h3 class="font-bold text-lg sm:text-xl uppercase mb-4">Đặc tính</h3>
      <ul>
        <li>Chất lượng đồng đều</li>
        <li>Độ bền cơ học cao</li>
        <li>Bề mặt bóng đẹp</li>
        <li>...</li>
      </ul>
    </div>
    <div class="basis-1/2 bg-blue-200 p-2 md:p-8">
      <h3 class="font-bold text-lg sm:text-xl uppercase mb-4">Lợi ích</h3>
      <ul>
        <li>Gia công dễ dàng</li>
        <li>Kích thước theo yêu cầu</li>
        <li>Tiết kiệm chi phí</li>
        <li>...</li>
      </ul>
    </div>
  </div>

  <a
    href="/products"
    class="block 
        uppercase w-fit rounded-full 
        text-center text-xs font-bold bg-blue-800 text-white border-2 border-white
        px-4 py-1 md:py-3 md:px-8 mx-auto "
    >tới trang sản phẩm</a
  >
</section>
