---
import { Image } from '@astrojs/image/components';
const imageUrl = 'https://images.hdqwalls.com/download/cube-geometry-digital-art-4k-2x-2048x1152.jpg';

---

<div class="relative mb-4 rounded-lg overflow-hidden">
    <Image src={imageUrl} width={1280} height={500} aspectRatio="16:9" format="webp" alt="home image" />
    <p class="text-white absolute inset-5">Test hero text module</p>

</div>
