---
import PrdSingle from "./Prd_single.astro";
const PrdList = [
  {
    image:
      "https://res.cloudinary.com/khongdangky/image/upload/v1662301175/viethan/cn1_josht0.jpg",
    alt: "SP1",
    code: "CN 01",
    modal_id: "CN01"
  },
  {
    image:
      "https://res.cloudinary.com/khongdangky/image/upload/v1662301174/viethan/cn2_heqktk.jpg",
    alt: "SP2",
    code: "CN 02",
    modal_id: "CN02"
  },
  {
    image:
      "https://res.cloudinary.com/khongdangky/image/upload/v1662301174/viethan/cn3_lt1qcf.jpg",
    alt: "SP3",
    code: "CN 03",
    modal_id: "CN03"
  },
  {
    image:
      "https://res.cloudinary.com/khongdangky/image/upload/v1662301172/viethan/cn4_o0vzoi.jpg",
    alt: "SP4",
    code: "CN 04",
    modal_id: "CN04"
  }
];
---

<section class="bg-blue-200 p-4 md:p-12">
  <div class="flex flex-col lg:flex-row items-center justify-between mb-4">
    <h2
      id="tamcn"
      class="striped px-4 py-2 mb-4 rounded-full uppercase 
      border-2 border-black 
      font-bold text-sm md:text-lg lg:text-xl text-center 
      w-fit mx-auto lg:mx-0"
    >
      tấm cách nhiệt
    </h2>
    <p class="text-sm text-center lg:text-left lg:max-w-md xl:max-w-2xl">
      Lớp túi khí bằng nhựa polyetylen bền chắc, được gia cường một lớp metalized tăng khả năng cách nhiệt, 
      tăng độ bền cơ học, giúp sản phẩm chống chịu được mọi biến động nhiệt độ môi trường. 
    </p>
  </div>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-2 sm:gap-4">
      {
        PrdList.map((prd) => (
          <PrdSingle Img={prd.image} Alt={prd.alt} Code={prd.code} ModalID={prd.modal_id} />
        ))
      }
    </div>
</section>

<style>
    .striped {
        background: repeating-linear-gradient(
        -60deg,
        #dbeafe,
        #dbeafe 20px,
        #ffffff 20px,
        #ffffff 40px
        );
    }
</style>