---
import PrdSingle from "./Prd_single.astro";
const PrdList = [
  {
    image:
      "https://res.cloudinary.com/khongdangky/image/upload/v1662301173/viethan/pe1_fxxqkq.jpg",
    alt: "SP1",
    code: "PE 01",
    modal_id: "PE01"
  },
  {
    image:
      "https://res.cloudinary.com/khongdangky/image/upload/v1662301171/viethan/pe2_d9duoc.jpg",
    alt: "SP2",
    code: "PE 02",
    modal_id: "PE02"
  },
  {
    image:
      "https://res.cloudinary.com/khongdangky/image/upload/v1662301172/viethan/pe3_ipwzca.jpg",
    alt: "SP3",
    code: "PE 03",
    modal_id: "PE03"
  },
  {
    image:
      "https://res.cloudinary.com/khongdangky/image/upload/v1662301173/viethan/pe4_q1ajcn.jpg",
    alt: "SP4",
    code: "PE 04",
    modal_id: "PE04"
  }
];
---

<section class="bg-blue-200 p-4 md:p-12">
  <div class="flex flex-col lg:flex-row items-center justify-between mb-4">
    <h2
      id="xoppe"
      class="striped px-4 py-2 mb-4 rounded-full uppercase 
      border-2 border-black 
      font-bold text-sm md:text-lg lg:text-xl text-center 
      w-fit mx-auto lg:mx-0"
    >
      xốp pe foam
    </h2>
    <p class="text-sm text-center lg:text-left lg:max-w-md xl:max-w-2xl">
      Màng xốp PE hay PE foam là vật liệu thường dùng trong công nghiệp đóng gói, lót sàn gỗ.
      Sản phẩm mềm, dẻo dai, chống sốc rất tốt, dễ dàng cắt thành nhiều loại kích thước phù hợp nhu cầu sử dụng.
    </p>
  </div>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-2 sm:gap-4">
      {
        PrdList.map((prd) => (
          <PrdSingle Img={prd.image} Alt={prd.alt} Code={prd.code} ModalID={prd.modal_id} />
        ))
      }
    </div>
  </section>


<style>
    .striped {
        background: repeating-linear-gradient(
        -60deg,
        #dbeafe,
        #dbeafe 20px,
        #ffffff 20px,
        #ffffff 40px
        );
    }
</style>