---
import PrdGroup from "./Prd_group.astro";

const prds = await Astro.glob('../pages/product/tam-cach-nhiet/*.md');
---

<PrdGroup 
    heading = "tấm cách nhiệt"
    text = "Lớp túi khí bằng nhựa polyetylen bền chắc, được gia cường một lớp metalized tăng khả năng cách nhiệt, tăng độ bền cơ học, giúp sản phẩm chống chịu được mọi biến động nhiệt độ môi trường."
    sectionbg = "bg-blue-200"
>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-2 sm:gap-4">
        {prds.map(p => (
            <a href={p.url}>
                <div class="group flex flex-col border-4 md:border-8 border-white bg-white shadow-md hover:shadow-lg transition-all duration-500">
                    <div class="bg-gray-300 w-full aspect-square overflow-hidden">
                        <img class="w-full h-full object-cover transition-all duration-500 group-hover:scale-125" src={p.frontmatter.image_url} width="500" height="500" alt={p.frontmatter.image_alt} />
                    </div>
                    <div class="uppercase text-center py-1 font-bold text-xs sm:text-sm">{p.frontmatter.prd_code}</div>
                </div>
            </a>
    
        ))}
    </div>
</PrdGroup>