---
import PrdSingle from "./Prd_single.astro";
const PrdList = [
  {
    image:
      "https://res.cloudinary.com/khongdangky/image/upload/v1662384465/viethan/tb1_y6o9pu.jpg",
    alt: "SP1",
    code: "TB 01",
    modal_id: "TB01"
  },
  {
    image:
      "https://res.cloudinary.com/khongdangky/image/upload/v1662384466/viethan/tb2_zutnek.jpg",
    alt: "SP2",
    code: "TB 02",
    modal_id: "TB02"
  },
  {
    image:
      "https://res.cloudinary.com/khongdangky/image/upload/v1662384464/viethan/tb3_zfyui9.jpg",
    alt: "SP3",
    code: "TB 03",
    modal_id: "TB03"
  },
  {
    image:
      "https://res.cloudinary.com/khongdangky/image/upload/v1662384464/viethan/tb4_csfgdw.jpg",
    alt: "SP4",
    code: "TB 04",
    modal_id: "TB04"
  }
];
---

<section class="bg-blue-300 p-4 md:p-12">
  <div class="flex flex-col lg:flex-row items-center justify-between mb-4">
    <h2
      id="pebac"
      class="striped px-4 py-2 mb-4 rounded-full uppercase 
      border-2 border-black 
      font-bold text-sm md:text-lg lg:text-xl text-center 
      w-fit mx-auto lg:mx-0"
    >
      xốp pe foam tráng bạc
    </h2>
    <p class="text-sm text-center lg:text-left lg:max-w-md xl:max-w-2xl">
      Là loại xốp PE có thêm lớp xi mạ nhôm siêu bền trên bề mặt, gia tăng tác dụng chống nhiệt. 
      Thường được dùng làm lớp cách nhiệt, cách âm rất hiệu quả trong công trình xây dựng, nhà xưởng sản xuất
    </p>
  </div>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-2 sm:gap-4">
      {
        PrdList.map((prd) => (
          <PrdSingle Img={prd.image} Alt={prd.alt} Code={prd.code} ModalID={prd.modal_id} />
        ))
      }
    </div>
</section>

<style>
    .striped {
        background: repeating-linear-gradient(
        -60deg,
        #dbeafe,
        #dbeafe 20px,
        #ffffff 20px,
        #ffffff 40px
        );
    }
</style>