---
const SocialContact = [
    {
        name: "zalo",
        icon: "zalo icon",
        linkto: "zalo link"
    },
    {
        name: "facebook",
        icon: "facebook icon",
        linkto: "facebook link"
    }
]
---

<div class="flex">
    {SocialContact.map((item) => (
        <div class="relative w-20 h-20 bg-green-400">
            <a href={item.linkto}>
                <img class="w-full h-full object-cover" src={item.icon} width="50" height="50" alt={item.name} />    
            </a>
        </div>
    ))}
</div>

