---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import Sticky from '../components/Sticky.astro';

const { PageTitle = "xốp việt hàn", PageDescription = "nhà sản xuất xốp hơi, xốp pe, tấm cách nhiệt hàng đầu Việt Nam", PageImg = "/placeholder-social.jpg" } = Astro.props;
---


<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={PageTitle} description={PageDescription} image={PageImg} />
	</head>

	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WMX4RNL"
			height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		<div class="lg:container mx-auto p-2 md:p-4 lg:p-8 ">
			<Header title={SITE_TITLE} />

			<main>
				<slot />
			</main>
			
			<Footer />
		</div>
		<Sticky />
	</body>
</html>
